<header>
  <div class="container">
    <div class="section-header">
      <a href="#">
        <picture width="80" height="29">
          <source
            srcset="
              ./images/logo/logo-black.png    1x,
              ./images/logo/logo-black@2x.png 2x
            "
          />
          <img src="./images/logo/logo-black.png" alt="" />
        </picture>
      </a>
      <nav class="menu-nav" data-menu>
        <ul class="menu-list list">
          <picture>
            <source
              srcset="
                ./images/logo/logo-white.png    1x,
                ./images/logo/logo-white@2x.png 2x
              "
            />
            <img src="./images/logo/logo-white.png" alt="" />
          </picture>
          <li>Программа обучения</li>
          <li>О нас</li>
          <li>Варианты обучения</li>
          <li>Контакты</li>
          <a href="#">консультация по телефону</a>
        </ul>
        <button type="button" class="menu-close" data-menu-button>
          <svg>
            <use href="./images/icons/symbol-defs.svg#cross"></use>
          </svg>
        </button>
      </nav>
      <button type="button" class="menu-open" data-menu-button>
        <svg class="icon-menu" width="20" height="12">
          <use href="./images/icons/symbol-defs.svg#menu"></use>
        </svg>
      </button>
    </div>
    <section class="section-hero">
      <h1 class="main-title">
        Комплексная подготовка к ВНО по английскому языку
      </h1>
      <div class="hero-label">
        <p class="label-grey">Просто не будет.</p>
        <p class="label-black">
          Но ты гарантировано наберешь
          <span class="label-accent">+25 баллов</span>
        </p>
      </div>

      <a href="#" class="hero-btn btn">хочу на бесплатное занятие</a>
      <picture class="hero-img">
        <source
          srcset="
            ./images/hero/hero-mob.png    1x,
            ./images/hero/hero-mob@2x.png 2x
          "
        />
        <img src="./images/hero/hero-mob.png" alt="" />
      </picture>
      <ul class="hero-features list">
        <li class="item">
          <p class="description">Адаптированная авторская программа ВНО</p>
        </li>
        <li class="item">
          <p class="description">Современные методики обучения</p>
        </li>
        <li class="item">
          <p class="description">Финансовая гарантия результата</p>
        </li>
      </ul>
    </section>
  </div>
</header>
