<header id="top">
  <div class="container">
    <div class="section-header">
      <a href="#top">
        <picture width="80" height="29">
          <source
            srcset="
              ./images/logo/logo-black-t.webp    1x,
              ./images/logo/logo-black-t@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo/logo-black.webp    1x,
              ./images/logo/logo-black@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/logo/logo-black-t.png    1x,
              ./images/logo/logo-black-t@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/logo/logo-black.png    1x,
              ./images/logo/logo-black@2x.png 2x
            "
          />
          <img src="./images/logo/logo-black.png" alt="" />
        </picture>
      </a>

      <nav class="menu-nav" burger-menu>
        <div class="modal">
          <div class="subheader-position">
            <picture>
              <source
                srcset="
                  ./images/logo/logo-white-t.webp    1x,
                  ./images/logo/logo-white-t@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/logo/logo-white.webp    1x,
                  ./images/logo/logo-white@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/logo/logo-white-t.png    1x,
                  ./images/logo/logo-white-t@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/logo/logo-white.png    1x,
                  ./images/logo/logo-white@2x.png 2x
                "
              />
              <img src="./images/logo/logo-white.png" alt="" />
            </picture>
            <button type="button" class="menu-close" burger-menu-close></button>
          </div>
          <ul class="menu-list list">
            <li><a href="#program" class="menu-item">Программа обучения</a></li>
            <li><a href="#teacher-sec" class="menu-item">О нас</a></li>
            <li><a href="#solving" class="menu-item">Варианты обучения</a></li>
            <li><a href="#contact" class="menu-item">Контакты</a></li>
          </ul>
          <a href="#callback" class="modal-button btn"
            >консультация по телефону</a
          >
        </div>
      </nav>

      <a href="#callback" class="header-button btn">консультация по телефону</a>

      <button type="button" class="menu-open" burger-menu-open></button>
    </div>
    <section class="section-hero">
      <div class="hero-title">
        <h1 class="main-title">
          Комплексная подготовка к ВНО по английскому языку
        </h1>
        <div class="hero-label">
          <p class="label-grey">Просто не будет.</p>
          <p class="label-black">
            Но ты гарантировано наберешь
            <span class="label-accent">+25 баллов</span>
          </p>
        </div>
        <a
          href="#callback"
          class="hero-btn btn"
          aria-label="подписка на бесплатное занятие"
          >хочу на бесплатное занятие</a
        >
      </div>
      <picture class="hero-img">
        <source
          srcset="
            ./images/hero/hero-desk.webp    1x,
            ./images/hero/hero-desk@2x.webp 2x
          "
          media="(min-width:1344px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/hero-tab.webp    1x,
            ./images/hero/hero-tab@2x.webp 2x
          "
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/hero-mob.webp    1x,
            ./images/hero/hero-mob@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/hero-desk.png    1x,
            ./images/hero/hero-desk@2x.png 2x
          "
          media="(min-width:1344px)"
        />
        <source
          srcset="
            ./images/hero/hero-tab.png    1x,
            ./images/hero/hero-tab@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/hero/hero-mob.png    1x,
            ./images/hero/hero-mob@2x.png 2x
          "
        />
        <img src="./images/hero/hero-mob.png" alt="" />
      </picture>
      <ul class="hero-features list">
        <li class="item">
          <p class="description icon1">
            Адаптированная авторская программа ВНО
          </p>
        </li>
        <li class="item">
          <p class="description icon2">
            Современные <br />
            методики обучения
          </p>
        </li>
        <li class="item">
          <p class="description icon3">Финансовая гарантия результата</p>
        </li>
      </ul>
    </section>
  </div>
</header>
