<!-- Секция с описанием проблем-->
<section class="problems-section">
  <div class="container">
    <div class="problems-title-wrap">
      <h2 class="title">
        Главные проблемы
        <span class="title-span">учеников</span>
        <span class="title-span">на English ВНО,</span>
        <span class="title-span">которые</span>
        <span class="title-span"
          >мы <span class="accent-title-span">помогаем</span> решить</span
        >
      </h2>
    </div>
    <div class="overlay-container">
      <ul class="problems list">
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 01</span>
        </div>
          <h3 class="problems-subtitle">Название грамматики</h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 02</span> 
          </div>
          <h3 class="problems-subtitle">
            Неумение вомпринимать устную английскую речь
          </h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—</span><span class="problems-number"> 03</span>
          </div>
          <h3 class="problems-subtitle">
            Скупой словарный запас
            <span class="title-span">для написани сочинения</span>
          </h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 04</span>
          </div>
        <h3 class="problems-subtitle">
            Поодготовка в <span class="title-span">одиночку</span>
          </h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 05</span>
          </div>
          <h3 class="problems-subtitle">
            Отсутствие единого <span class="title-span">ресурса знаний</span>
          </h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 06</span>
          </div>
          <h3 class="problems-subtitle">
            Недостатой <span class="title-span">самоорганизации и лень</span>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
