<section class="program-section">
    <div class="container">
        <h2 class="program-section-title">Наша программа</h2>

        <ul class="list program-section-list">
            <li class="program-section-list-item">
                <h3 class="program-semestr">1 семестр</h3>
                <ul class="list semester-list">
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Grammar</h4>
                        <p class="program-semestr-text">Nouns & Articles</p>
                        <p class="program-semestr-text">Adjectives & Adverb</p>
                    </li>
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Vocabulary</h4>
                        <p class="program-semestr-text">Family & Relations</p>
                        <p class="program-semestr-text">People & Society</p>
                    </li>
                </ul>
            </li>
            <li class="program-section-list-item">
                <h3 class="program-semestr">2 семестр</h3>
                <ul class="list semester-list">
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Grammar</h4>
                        <p class="program-semestr-text">Pronouns</p>
                        <p class="program-semestr-text">Active Voice</p>
                        <p class="program-semestr-text">Passive Voice</p>
                    </li>
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Vocabulary</h4>
                        <p class="program-semestr-text">Home</p>
                        <p class="program-semestr-text">School</p>
                        <p class="program-semestr-text">Work</p>
                    </li>
                </ul>
            </li>
            <li class="program-section-list-item">
                <h3 class="program-semestr">3 семестр</h3>
                <ul class="list semester-list">
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Grammar</h4>
                        <p class="program-semestr-text">Modal Verbs</p>
                        <p class="program-semestr-text">Infinitive</p>
                        <p class="program-semestr-text">Gerund</p>
                        <p class="program-semestr-text">Participle: 1, 2</p>
                    </li>
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Vocabulary</h4>
                        <p class="program-semestr-text">Travel & Tourism</p>
                        <p class="program-semestr-text">Culture & Free Time</p>
                        <p class="program-semestr-text">Sport</p>
                    </li>
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Writing</h4>
                        <p class="program-semestr-text">Informal Letter</p>
                    </li>
                </ul>
            </li>
            <li class="program-section-list-item">
                <h3 class="program-semestr">4 семестр</h3>
                <ul class="list semester-list">
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Grammar</h4>
                        <p class="program-semestr-text">Clauses: Conditional and Wishes</p>
                        <p class="program-semestr-text">Direct / Reported speech</p>
                        <p class="program-semestr-text">Preposition</p>
                        <p class="program-semestr-text">Conjunction</p>
                        <p class="program-semestr-text">Numeral</p>
                    </li>
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Vocabulary</h4>
                        <p class="program-semestr-text">Healthy Living</p>
                        <p class="program-semestr-text">Nature & Environment</p>
                        <p class="program-semestr-text">Money</p>
                    </li>
                    <li class="semestr-list-item">
                        <h4 class="program-semestr-sub">— Writing</h4>
                        <p class="program-semestr-text">Formal Letter</p>
                    </li>
                </ul>
            </li>
            <li class="program-section-list-item">
                <h3 class="program-semestr">5 семестр</h3>
                <h4 class="program-semestr-sub">—</h4>
                <p class="program-semestr-text">Revision<br>Tests</p>
            </li>
        </ul>
        <h2 class="program-section-title choose-us">Почему нас выбирают</h2>
        <div class="program-choose-us-block"></div>
        <div class="program-section-image">
            <picture>
                <source srcset="./images/mobile-program-section-bg-pic.webp 1x, 
                ./images/mobile-program-section-bg-pic-2x.webp 2x" type="image/webp">
                <img srcset="./images/mobile-program-section-bg-pic.png 1x, 
                  ./images/mobile-program-section-bg-pic-2x.png 2x" src="./images/mobile-program-section-bg-pic.png"
                    alt="программа обучения">
            </picture>
        </div>
    </div>
</section>