<section class="section-solving">
  <div class="container">
    <h2 class="tittle">Как мы это делаем</h2>
    <ul class="solving-list list">
      <li class="item">
        <svg width="45px" height="48px" aria-label="страница" class="icon">
          <use href="./images/icons/symbol-defs.svg#solving1"></use>
        </svg>
        <h3 class="tittle">Адаптированная программа подготовки к ВНО</h3>
        <span class="decoration">—</span>
        <p class="text">
          Ты будешь изучать грамматику и лексику одновременно. И ты научишься
          писать сочинения.
        </p>
      </li>
      <li class="item"></li>
      <li class="item"></li>
      <li class="item"></li>
      <li class="item"></li>
      <li class="item"></li>
    </ul>
  </div>
</section>
