.guaranties-section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  font-size: 26px;
  font-weight: 800;
  line-height: 1.308;
  letter-spacing: 0.03em;
  color: $primary-color;
}

.guaranties-wrap {
  padding-top: 30px;
  padding-bottom: 31px;
  background-color: #f1f1f1;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
}

.guaranties-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
}

.guaranties-item:not(:last-child)::after {
  z-index: 1;
  position: absolute;
  content: '';
  border-left: 1.35px dashed $secondary-text-color;
  height: 90%;
  top: 24px;
  left: 1%;
}

.guaranties-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.667;
  position: relative;
  padding-left: 28px;
  letter-spacing: 0.02em;

  color: $third-text-color;

  &:not(:last-child) {
    margin-bottom: 23px;
  }

  &::before {
    z-index: 2;
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: -11px;
    top: -7px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icons/fire.svg);
  }
}

.guaranties-asterisk,
.guaranties-accent {
  color: $accent-color;
}
